
body {
    margin:0;
    background: linear-gradient(to bottom, #5c3a21, #2e1c10);
    color:black;
    text-align: center;
    padding: 20px;
}
body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url('4.jpeg') no-repeat center center;
    background-size: cover;
    filter: blur(0px);
    z-index: -1;
}
.container {
    padding: 40px 20px;
}
       h1, h2, h3 {
            margin: 20px 0;
        }
h2 {
    font-size: 50px;
}
  .script {
            font-size: 20px;
            color: #572a14
        }
        .jina {
             font-size: 28px
            color: #572a14;
            text-shadow: 2px 2px 4px rgba(150, 53, 5, 0.5);
        }
.subtitle{
    color: #572a14;
    font-size: 20px;
    margin-top: 0;
}
.names {
    font-family: "Times New Roman", cursive;
    font-size: 40px;
    color: #cc4e00;
    margin:20px 0;
}
  .rsvp-box {
            background: transparent;
            color: #333;
            padding: 20px;
            border-radius: 5px;
            width: 300px;
            margin: 40px auto;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        }

       .rsvp-box input {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

button {
    padding: 10px 20px;
            margin: 10px 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
}
button:hover {
    opacity: 0.85;
}
.yes {
    background: green;
    color: white;
}
.no {
    background: red;
    color: white;
}
.photo {
    width: 80%;
    max-width: 250px;
    height: auto;
}
   @media (max-width: 500px) {
            h2 { font-size: 36px; }
            .names { font-size: 28px; }
            .rsvp-box { width: 90%; padding: 15px; }
        }
   .slideshow-container {
    position: relative;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.slide {
    display: none; 
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.event-details {
    text-align: center;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}

.event-date {
    font-size: 28px;
    color: #555;
    margin-bottom: 20px;
}

.event-location {
    font-size: 20px;
    color: purple;
    margin-bottom: 5px;
}

.event-time {
    font-size: 18px;
    color: #2f6f3e;
    margin-bottom: 5px;

}

.event-address {
    font-size: 16px;
    color: gray;
}

.map-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #2f6f3e;
    font-weight: bold;
}
.map-link {
    color: red; 
    text-decoration: none;
    font-weight: bold;
}

.map-link:hover {
    text-decoration: underline;

}


